##############################
## Eclipse
##############################
.settings/
bin/
tmp/
/.metadata/
/Servers/
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath/
.factorypath/
editorconfig
/gerenciador/src/main/WebContent/WEB-INF/lib
# maven project related ignore files and directories  
.mvn/  
target/  
